* {
	box-sizing: border-box;
}

body {
	font-family: 'Hepta Slab', serif;
	color: #2C3E50;
	position: relative;
	height: 100vh;
	overflow-y: hidden;
}

a {
	text-decoration: none;
	color: #2C3E50;
}

h1 {
	font-size: 3rem;
	font-weight: 700;
}

h3 {
	font-size: 2rem;
	font-weight: 700;
}

h4 {
	font-size: 1.5rem;
	font-weight: 700;
}

h6 {
	font-size: 1.2rem;
}

nav {
	height: 15vh;
	padding: 0 30px 0 30px;
	background: #F8F9F9;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bg-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background: url(Images/background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(4px);
}

nav .nav-list {
	width: 70%;
	display: flex;
	justify-content: space-around;
}

.nav-list i {
	font-size: 1.4rem;
	cursor: pointer;
}

.cart-icon {
	position: relative;
}

.cart-bg {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: flex-end;
}

.cart-container {
	width: 40%;
	height: 100%;
	padding: 20px;
	background: white;
}

.cart-container i {
	font-size: 1.4rem;
	cursor: pointer;
}

.total-items {
	height: 20px;
	width: 20px;
	background: #EC7063;
	border-radius: 50%;
	position: absolute;
	top: -15px;
	left: -15px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
}

.enter-shop {
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.enter-shop a {
	font-size: 1.4rem;
	background: #F8F9F9;
	padding: 15px;
	position: relative;
}

.enter-shop a:before {
	content: " ";
	position: absolute;
	top: -10px;
	bottom: -10px;
	right: -10px;
	left: -10px;
	border: 2px solid #F8F9F9;
}

.shop-container {
	width: 100%;
	height: 90vh;
	padding-right: 20px;
	background: rgba(255, 255, 255, 0.8);
	display: flex;
	align-items: stretch;
}

.nav-container {
	margin-right: 7px;
	width: 15%;
	height: 90%;
	position: relative;
}

.shop-nav {
	position: absolute;
	top: 25%;
	left: 10%;
}

.shop-nav li {
	margin-bottom: 8px;
	font-size: 1.2rem;
}

.shop-front {
	margin-left: 7px;
	width: 85%;
	height: 90%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	overflow-y: auto;
}

.product-card {
	width: 30%;
	height: 450px;
	margin-bottom: 10px;
	background: #F8F9F9;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product-card img {
	width: 95%;
	height: 350px;
	object-fit: contain;
	overflow: hidden;
}

.card-details{
	width: 100%;
	padding-top: 10px;
	padding-left: 20px;
}

.card-details h4 {
	margin-bottom: 10px;
}

.hidden {
	display: none;
}