* {
	box-sizing: border-box;
}

body {
	font-family: 'Hepta Slab', serif;
	color: #2C3E50;
	position: relative;
	height: 100vh;
}

a {
	text-decoration: none;
	color: #2C3E50;
}

h1 {
	font-size: 3rem;
	font-weight: 700;
}

nav {
	height: 15vh;
	padding: 0 30px 0 30px;
	background: #F8F9F9;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bg-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background: url(Images/background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(4px);
}

nav .nav-list {
	width: 70%;
	display: flex;
	justify-content: space-around;
}

.nav-list i {
	font-size: 1.4rem;
}